#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 85%;
    margin:auto;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 30px;
}

fieldset .form-group{
    display: flex;
    flex-direction: column;
    justify-content: start;

}

fieldset .form-group label{
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}

fieldset .form-group input{
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    box-shadow: 0 0 1px 1px cadetblue;
    border-radius: 30px;
    transition: box-shadow 0.2s linear;
}

fieldset .form-group button{
    outline: none;
    border: none;
    box-shadow: 0 0 2px 2px powderblue;
    padding: 0.5rem 1.25rem;
    display: inline-block;
    background-color: teal;
    color: #f1f1f1;
    transition: all 0.2s linear;
    max-width: 200px;
    border-radius: 8px;

}

fieldset .form-group input:focus{
    box-shadow: 0 0 2px 2px darkcyan;
}

fieldset .form-group button:hover{
    opacity: 0.9;
    box-shadow: 0 0 2px 2px darkcyan;
}

fieldset:hover{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25) ;
}


  body{
      background-image: url(https://i.pinimg.com/564x/87/c0/4f/87c04f7c07c52d6852d07217fd85071e.jpg);
  background-repeat: no-repeat;
  background-position: center;
    }
 /* medium devices*/
    @media (min-width: 576px) {  
 form{
     max-width: 80%;
    
    }}
     /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 form{
    
     max-width: 40%;
 }
}